@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

.logo {
  padding-left: 20px;
}

.option {
  display: flex;
  justify-content: flex-end;
  padding-left: 700px;
}

.option li{
  display: flex;
  justify-items: flex-end;
}

.opsion>a:hover {
  color: #f9d934;
  transition: all 0.3s;
}

.jumbotron {
  background-image: url(../Image/Kripsang.png);
  background-size: cover;
  position: relative;
  width: auto;
  height: 833px;
  padding-top: 250px;
}

.jumbotron h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.jumbotron p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-top: -12px;
}

.jumbotron>a:hover {
  background-color: #f9d934;
}

.jumbotron>a:active {
  background-color: #f9d934;
}

.btn {
  width: 160px;
  height: 46px;
  border-radius: 15px;
}

main {
  margin-top: -33px;
}

.content {
  background-color: #f9d934;
}

.judul{
  font-family: 'Graduate';
}

.content h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.produk {
  background-image: url(../Image/produk.png);
  width: 1440px;
  height: 1317px;
  padding-top: 25px;
}

.info{
  padding-top: 50px;
}

.kiri{
  padding-top: 50px; 
}

.kiri>h5{
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: x-large;
}

.order-text{
  padding-top: 40px;
  padding-bottom: 70px;
}

.tombol {
  margin-top: 15px;
}

.lokasi{
  padding-top: 35px;
  padding-bottom: 30px;
}

.alamat{
  padding-top: 80px;
}

.kontak{
  padding-top: 80px;
}

.more{
  padding-bottom: 100px;
}

.komen{
  padding-bottom: 200px;
}

.komen>input{
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 329px;
}

.komen>textarea{
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 329px;
}

.tombolsub, .tombolbat{
  width: 117px;
  border-radius: 15px;
  margin-top: 20px;
}

.tombolsub{
  margin-right: 15px;
}

.penutup{
  padding-top: 30px;
}

.hubungi{
  padding-left: 150px;
}

.infoal{
  margin-left: -100px;
}

.follow{
  padding-left: 200px;
}

/* ukuran tablet */
@media screen and (max-width: 768px) {
  .logo {
    margin-top: -90px;
    padding-top: 90px;
  }

  .option {
    display: flex;
    justify-content: center;
    margin-left: -350px;
    margin-top: -50px;
    font-size: 10px;
  }
  
  .jumbotron {
    background-image: url(../Image/Kripsang.png);
    background-size: cover;
    position: relative;
    width: 768px;
    height: 800px;
  }

  .jumbotron h1{
    font-size: 30px;
  }

  .jumbotron p{
    font-size: 12px;
    margin-top: -25px;
    padding-bottom: 10px;
  }

  .jumbotron>a{
    padding-bottom: 5px;
  }

  .btn{
    width: 110px;
    height: 35px;
    border-radius: 15px;
    font-size: 12px;
  }

  .produk {
    background-image: url(../Image/produk2.png);
    width: auto;
    height: 702px;
    padding-top: 25px;
  }

  .alamat{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .brand img{
    height: 300px;
    width: 300px;
    margin-top: -100px;
  }

  .komen{
    padding-bottom: 90px;
  }

  .hubungi{
    padding-left: 10px;
    font-size: 12px;
  }

  .infoal{
    font-size: 12px;
    padding-left: 110px;
  }
  
  .follow{
    padding-left: 10px;
    font-size: 12px;
  }

  .follow a img{
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .copy{
    font-size: 10px;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px){
  .logo {
    padding: 0;
  }
  
  .option {
    display: flex;
    justify-content: center;
  }

  .jumbotron {
    background-image: url(../Image/Kripsang.png);
    background-size: cover;
    position: relative;
    width: auto;
    height: 500px;
  }

  .jumbotron h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: -80px;
  }
  
  .jumbotron p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-top: -30px;
  }

  .jumbotron>a{
    padding-bottom: 10px;
  }

  .btn{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 10px;
  }

  .content h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  .produk {
    background-image: url(../Image/produk1.png);
    width: auto;
    height: 527px;
    padding-top: 25px;
  }

  .info{
    padding-top: 30px;
  }
  
  .kiri{
    padding-top: 30px; 
  }
  
  .kiri>h5{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 15px;
  }

  .kiri>ul>li{
    font-size: 10px;
  }

  .pisang{
    width: 300px;
    height: 300px;
  }

  .mau{
    font-size: 13px;
  }

  .lokasi{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .alamat{
    padding-top: 40px;
  }

  .alamat h5{
    font-size: 15px;
    font-weight: 500;
  }

  .alamat p{
    font-size: 12px;
  }

  .kontak{
    padding-top: 50px;
    font-size: 20px;
  }

  .more{
    font-size: 12px;
  }

  .brand img{
    height: 300px;
    width: 300px;
    margin-top: -90px;
  }

  .komen{
    padding-bottom: 100px;
  }

  .hubungi{
    padding-left: 10px;
    font-size: 12px;
  }

  .infoal{
    font-size: 12px;
    padding-left: 110px;
  }
  
  .follow{
    padding-left: 10px;
    font-size: 12px;
  }

  .follow a img{
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .copy{
    font-size: 10px;
  }
}
